<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="refresh" content="30" />
    <title>Matérias - Aluno</title>
    <link rel="stylesheet" href="css/materia.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
</head>
<body>
    <div class="header">
        <h3 class="titulo-spacequest"><a href="./home-aluno">SPACE<br> ‎ ‎ QUEST</a></h3>
        <div class="menu-cardapio">
            <%- include('../../partials/menu-superior') %>
        </div>
    </div>

    <div class="linha-2">
        <div class="caixa-atras">
            <div class="caixa-titulo-pagina">Matérias</div>
            <div class="caixa-container-materias">
                <% if (materias && materias.length > 0) { %>
                    <% materias.forEach(materia => { %>
                        <div class="caixa-materia" style="background-color: <%= materia.cor_materia %>;">
                            <h2><%= materia.nome_materia %></h2>
                            <a href="/materia-atividades/<%= materia.id_materia %>" class="btn-ver-atividades">Ver Atividades</a>

                            <ul>
                                <% (materia.atividades || []).forEach(atividade => { %>
                                    <li><%= atividade.nome_atividade %> - <%= atividade.descricao %></li>
                                <% }) %>
                            </ul>
                        </div>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>
